html {
	min-height: 100vh;
	min-width: 100vh;
	background-color: purple;
}

body {
	background-color: purple;
}

#videoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 7%;
}


ul {
	list-style-type: none;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    margin-top: 0;
    width: 600px;
    opacity: 0.1;
}

#videoContainer:hover ul{
	opacity: 1;
}

#videoContainer ul button {
	cursor: pointer;
	border:  0;
	background: none;
	color:  white;
}

