html {
	background-color: blue;
}

#main {
	display: flex;
	flex-direction:  column;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
	background-color: lightblue;
	margin-top: 10%;
}

#main > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

input:checked + p {
	text-decoration: line-through;
}

input[type="checkbox"] {
	margin:  10px;
	padding: 10px;
}

