#panel {
	display: flex;
	flex-direction:  row;
	align-items: center;
	justify-content: space-evenly;
}

#panel > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

label {
	clear: left;
	text-align: right;
	padding-right: 10px;
}

input, label {
	float:  left;
}